<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <connectionStrings>
    <add name="ActiveDirectory"
         connectionString="LDAP://capstone.uts.edu"
         />
  </connectionStrings>

  <appSettings>
    <add key="RoleContainer"
         value="WebApp"/>
  </appSettings>

  
  <!-- **** Page Access Controls **** -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="AdminPage.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="page1.aspx">
    <system.web>
      <authorization>
        <allow roles="Faculty" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="page2.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="RequestAcct.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="CreateComp.aspx">
    <system.web>
      <authorization>
        <allow roles="Admins, JoinToComputer" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <!-- **** end Page Access Controls **** -->  
  
  
  <system.web>

    <sessionState mode="InProc"
              cookieless="false"
              timeout="20"/>
    
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx"
             name=".ASPXAUTH"
             timeout="10"
             slidingExpiration="true"
             defaultUrl="Default.aspx"
             requireSSL="false"
             path="/"
             cookieless="UseCookies">
      </forms>
    </authentication>
    
    <authorization>
      <deny users="?"/>
      <!--<allow users="*"/>-->
    </authorization>
    
    <identity impersonate="false"/>

    <roleManager defaultProvider="ActiveDirectoryRoleProvider"
                 enabled="true"
                 >
      <providers>
        <clear />
        <add name="ActiveDirectoryRoleProvider"
             type="CapstoneProject.Roles.ActiveDirectoryRoleProvider"
             applicationName="/"
             writeExceptionToEventLog="false"
             />
      </providers>
    </roleManager>
  
  </system.web>
</configuration>
